@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
/* line 5, ../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Base Styles -------------------- */
/* line 106, ../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 11, ../scss/base/_base.scss */
* {
  box-sizing: border-box;
}

/* line 15, ../scss/base/_base.scss */
body {
  margin: 0;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
}

/* line 20, ../scss/base/_base.scss */
img {
  max-width: 100%;
  border-radius: 10px;
}

/* line 25, ../scss/base/_base.scss */
ul,
ol {
  margin: 30px 0;
}

/* line 30, ../scss/base/_base.scss */
li {
  margin-bottom: 10px;
}

/* line 3, ../scss/layout/_nav.scss */
nav {
  transition: color 0.5s;
}
@media screen and (max-width: 1000px) {
  /* line 3, ../scss/layout/_nav.scss */
  nav {
    font-size: 0.9375em;
    line-height: 1.6em;
  }
}

/* line 10, ../scss/layout/_nav.scss */
.nav {
  margin-bottom: -15px;
}

/* line 14, ../scss/layout/_nav.scss */
.navbar-fixed-top {
  background-color: rgba(0, 0, 0, 0.4);
  transition: background 0.5s;
}
/* line 17, ../scss/layout/_nav.scss */
.navbar-fixed-top:hover, .navbar-fixed-top:active {
  background-color: black;
  transition: background 0.5s;
}

/* line 23, ../scss/layout/_nav.scss */
.navbar-brand {
  transition: color 0.5s;
  font-size: 1.625em;
  line-height: 1.84615em;
  padding: 0 10px;
  color: #ccc;
}
/* line 28, ../scss/layout/_nav.scss */
.navbar-brand:hover {
  color: white;
}

/* line 32, ../scss/layout/_nav.scss */
.dropdown-toggle {
  padding: 10px 0;
  font-size: 1.375em;
  line-height: 2.18182em;
  color: white;
}
@media screen and (max-width: 1000px) {
  /* line 32, ../scss/layout/_nav.scss */
  .dropdown-toggle {
    text-align: center;
  }
}

/* line 41, ../scss/layout/_nav.scss */
.navbar-fluid .navbar-nav > li > a {
  color: #ccc;
  transition: color 0.5s;
}
/* line 44, ../scss/layout/_nav.scss */
.navbar-fluid .navbar-nav > li > a:hover {
  transition: color 0.5s;
  color: black;
}

/* line 52, ../scss/layout/_nav.scss */
.navbar-collapse {
  padding: 0px;
}

/* line 56, ../scss/layout/_nav.scss */
.dropdown-menu > li > a {
  font-size: 1.125em;
  line-height: 1.33333em;
  transition: color 0.5s;
  text-align: center;
}
/* line 60, ../scss/layout/_nav.scss */
.dropdown-menu > li > a:hover {
  transition: color 0.5s;
}
@media screen and (max-width: 767px) {
  /* line 56, ../scss/layout/_nav.scss */
  .dropdown-menu > li > a {
    color: #ccc;
  }
}

/* line 69, ../scss/layout/_nav.scss */
.anchor {
  display: block;
  position: relative;
  top: -25px;
  visibility: hidden;
}

/*	Full page formatting */
/* line 6, ../scss/layout/_homepage.scss */
body {
  background-color: #eee;
}

/* line 10, ../scss/layout/_homepage.scss */
.buffer {
  margin-top: 50px;
}

/* line 14, ../scss/layout/_homepage.scss */
.landing-bg {
  background: url("../img/cornsky-1920.jpg") center no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}

/* line 19, ../scss/layout/_homepage.scss */
.home-page-1 {
  background: #eee;
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}

/* line 25, ../scss/layout/_homepage.scss */
.home-page-2 {
  padding-top: 50px;
  background-color: #ccc;
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  min-height: 50vh;
}

/* line 33, ../scss/layout/_homepage.scss */
.home-page-3 {
  background: url("../img/star-night-1920.jpg") center no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-attachment: scroll;
}

/* line 40, ../scss/layout/_homepage.scss */
.home-page-4 {
  background: url("../img/star-night-1920.jpg") center no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}

/* line 45, ../scss/layout/_homepage.scss */
.button {
  text-align: center;
  margin: 30px;
  background-color: #0D47A1;
  transition: all 1s ease;
  transition: background 0.5s;
  border: 2px solid #0D47A1;
  border-radius: 5px;
}
/* line 53, ../scss/layout/_homepage.scss */
.button:hover {
  transition: background 0.5s;
  background-color: #BBDEFB;
}
/* line 57, ../scss/layout/_homepage.scss */
.button a {
  color: #BBDEFB;
  transition: color 0.5s;
  font-size: 1.5em;
  line-height: 2em;
  padding: 10px;
}
/* line 62, ../scss/layout/_homepage.scss */
.button a:visited {
  text-decoration: none;
}
/* line 63, ../scss/layout/_homepage.scss */
.button a:hover {
  color: #0D47A1;
  text-decoration: none;
}

/* line 69, ../scss/layout/_homepage.scss */
.landing-message {
  text-align: center;
  padding-top: 15%;
}
@media screen and (max-width: 1100px) {
  /* line 69, ../scss/layout/_homepage.scss */
  .landing-message {
    padding-top: 20%;
  }
}
@media screen and (max-width: 800px) {
  /* line 69, ../scss/layout/_homepage.scss */
  .landing-message {
    padding-top: 33%;
  }
}
/* line 77, ../scss/layout/_homepage.scss */
.landing-message .opacity-bg {
  background: rgba(255, 255, 255, 0.25);
  padding: 20px 10px;
  margin: 10px 50px;
}
@media screen and (min-width: 1000px) {
  /* line 77, ../scss/layout/_homepage.scss */
  .landing-message .opacity-bg {
    margin: 10px 250px;
  }
}
/* line 84, ../scss/layout/_homepage.scss */
.landing-message .opacity-bg:after {
  clear: both;
}
/* line 88, ../scss/layout/_homepage.scss */
.landing-message h2, .landing-message p {
  color: black;
}
/* line 91, ../scss/layout/_homepage.scss */
.landing-message h2 {
  font-size: 4.5em;
  line-height: 1.33333em;
}
@media screen and (max-width: 1376px) {
  /* line 91, ../scss/layout/_homepage.scss */
  .landing-message h2 {
    font-size: 3.625em;
    line-height: 1.24138em;
  }
}
@media screen and (max-width: 1220px) {
  /* line 91, ../scss/layout/_homepage.scss */
  .landing-message h2 {
    font-size: 3.125em;
    line-height: 1.44em;
  }
}
@media screen and (max-width: 800px) {
  /* line 91, ../scss/layout/_homepage.scss */
  .landing-message h2 {
    font-size: 2.625em;
    line-height: 1.14286em;
  }
}
/* line 102, ../scss/layout/_homepage.scss */
.landing-message p {
  margin-bottom: 1.5%;
}
/* line 105, ../scss/layout/_homepage.scss */
.landing-message button {
  background-color: #0D47A1;
  transition: all 1s ease;
  transition: background 0.5s;
  border: 2px solid #0D47A1;
  border-radius: 10px;
}
/* line 111, ../scss/layout/_homepage.scss */
.landing-message button:hover {
  transition: background 0.5s;
  background-color: #BBDEFB;
}
/* line 115, ../scss/layout/_homepage.scss */
.landing-message button a {
  color: #BBDEFB;
  transition: color 0.5s;
  font-size: 1.5em;
  line-height: 2em;
  padding: 10px;
}
/* line 120, ../scss/layout/_homepage.scss */
.landing-message button a:hover {
  color: #0D47A1;
  text-decoration: none;
}

/* line 127, ../scss/layout/_homepage.scss */
.content-box {
  text-align: center;
}
/* line 130, ../scss/layout/_homepage.scss */
.content-box .panel-heading {
  background-color: #0D47A1;
}
/* line 132, ../scss/layout/_homepage.scss */
.content-box .panel-heading a {
  color: #64B5F6;
  transition: color 0.5s;
  font-weight: 700;
}
/* line 136, ../scss/layout/_homepage.scss */
.content-box .panel-heading a:hover, .content-box .panel-heading a:focus {
  color: #BBDEFB;
  transition: color 0.5s;
  text-decoration: none;
}
/* line 144, ../scss/layout/_homepage.scss */
.content-box .panel-body {
  margin: 0 10px;
}
/* line 148, ../scss/layout/_homepage.scss */
.content-box h3 {
  margin-top: -25px;
  margin-bottom: 10px;
  color: #0D47A1;
  font-size: 2em;
  line-height: 1.5em;
}
@media screen and (max-width: 800px) {
  /* line 148, ../scss/layout/_homepage.scss */
  .content-box h3 {
    font-size: 1.5em;
    line-height: 2em;
  }
}
/* line 157, ../scss/layout/_homepage.scss */
.content-box h4 {
  margin-top: 10px;
  color: #0D47A1;
  font-weight: 700;
  font-size: 1.75em;
  line-height: 1.71429em;
}
@media screen and (max-width: 1200px) {
  /* line 157, ../scss/layout/_homepage.scss */
  .content-box h4 {
    font-size: 1.5em;
    line-height: 2em;
  }
}
/* line 166, ../scss/layout/_homepage.scss */
.content-box h5, .content-box h6 {
  font-size: 1.25em;
  line-height: 1.2em;
  line-height: 1.7em;
}
/* line 170, ../scss/layout/_homepage.scss */
.content-box h6, .content-box p {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
/* line 173, ../scss/layout/_homepage.scss */
.content-box li {
  text-align: left;
}
@media screen and (max-width: 986px) {
  /* line 173, ../scss/layout/_homepage.scss */
  .content-box li {
    text-align: center;
  }
}
/* line 179, ../scss/layout/_homepage.scss */
.content-box p {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  line-height: 1.7em;
}

/* line 189, ../scss/layout/_homepage.scss */
.home-page-1 h3, .home-page-1 a, .home-page-1 p {
  margin: 20px 0;
}
/* line 193, ../scss/layout/_homepage.scss */
.home-page-1 .headshot img {
  border-radius: 50%;
  width: 200px;
}

/* line 200, ../scss/layout/_homepage.scss */
.always-right li {
  text-align: right;
}
@media screen and (max-width: 986px) {
  /* line 200, ../scss/layout/_homepage.scss */
  .always-right li {
    text-align: center;
  }
}

/* line 208, ../scss/layout/_homepage.scss */
.content-list li, .content-list a {
  margin: 20px 0;
}
/* line 211, ../scss/layout/_homepage.scss */
.content-list li {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1.375em;
  line-height: 2.18182em;
}

/* line 220, ../scss/layout/_homepage.scss */
.contact-box {
  min-height: 60vh;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 40vh;
  padding: 20px 50px;
  background-color: #0D47A1;
}
/* line 227, ../scss/layout/_homepage.scss */
.contact-box h4 {
  text-align: center;
  font-size: 2em;
  line-height: 1.5em;
  color: #BBDEFB;
  padding-bottom: 10px;
}
/* line 233, ../scss/layout/_homepage.scss */
.contact-box p {
  color: white;
}
/* line 236, ../scss/layout/_homepage.scss */
.contact-box label {
  font-size: 1.125em;
  line-height: 1.33333em;
  color: #bbb;
}
