.full-page-container	{
	height: 100vh;
}

.landing-bg {
	background: url('../img/starsbg.jpg') center no-repeat;
	background-size: cover;
}

.home-page-1 {
	background-color: black;
}

.home-page-2 {
	background-color: white;
}

.home-page-3 {
	background-color: #ccc;
}