@import "components/color";

nav {
	font-family: $stack-roboto;
}

.navbar-default .navbar-brand {
	@include trans-color;
	@include adjust-font-size-to(26px);
	padding: 0 10px;
	color: #bbb;

	&:hover { color: white;}
}

.dropdown-toggle {
	@include adjust-font-size-to(22px);
	color: white;
}

.navbar-default .navbar-nav>li>a {
	color: #bbb;
	@include trans-color;
	&:hover {
		@include trans-color;
		color: white;
	}
}

// Adjustment for dropdown menu items	//

.dropdown-menu {
	>li>a {
	@include adjust-font-size-to(18px);
	text-align: center;
	@include trans-color;
	&:hover {
		@include trans-color;
		}
	}
}

//	Anti-"Header eats the top of my #ID	//
.anchor{	
	display: block; 
	position: relative; 
	top: -25px; 
	visibility: hidden;
}