@import "components/color";

nav {
	@include trans-color;
	@media screen and (max-width: 1000px) {
		@include adjust-font-size-to(15px);
	}
}

.nav {
	margin-bottom: -15px;
}
  
.navbar-fixed-top {
	background-color: rgba(0,0,0,.4);
	@include trans-bg;	
	&:hover, &:active {
		background-color: black;
		@include trans-bg; 
	}
}

.navbar-brand {
	@include trans-color;
	@include adjust-font-size-to(26px);
	padding: 0 10px;
	color: #ccc;
	&:hover { color: white;}
	
}

.dropdown-toggle {
	padding: 10px 0;
	@include adjust-font-size-to(22px);
	color: white;
	@media screen and (max-width: 1000px) {
		text-align: center;
	}
}

.navbar-fluid .navbar-nav>li>a {
	color: #ccc;
	@include trans-color;
	&:hover {
		@include trans-color;
		color: black;
	}
}

// Adjustment for dropdown menu items	//

.navbar-collapse {
	padding: 0px;
}

.dropdown-menu>li>a {
	@include adjust-font-size-to(18px);
	@include trans-color;
	text-align: center;
	&:hover {
		@include trans-color;
	}
	@media screen and (max-width: 767px) {
		color: #ccc;
	}	
}

//	Anti-"Header eats the top of my #ID	//
.anchor{	
	display: block; 
	position: relative; 
	top: -25px; 
	visibility: hidden;
}