// Copy from old website

$lightblue: #ADEBFF; // #ADEBFF  #CFF7FF
$baseblue: #33CCFF; // #6FE8FF  #33CCFF
$midblue: 	#1A6680; // #387480 	#1F7A99
$darkblue: #0A2933; // 043640 	 #162E33
$faint: #D6F5FF; // #D6F5FF
$orange: #FF845B; // #FF6633 #FF7156
$bg-dark: url("../img/swirl-bg.jpg");
$bg-faint: url("../img/faint-bg.jpg");
$value1: #FF0000;  //url("../img/redhex.jpg");
$value2: #FF4719;// redorange;
$value3: #FF9900 ;// orange;
$value4: #FFCC00 ;// gold;
$value5: #CCFF66; // green;
$value6: #66FF66;// lightgreen;
$value7: #3399FF ;// lightblue;
$value8: #0066FF ;// blue;
$value9: #0000FF ;// darkblue;