// Copy from old website

$blue100: #BBDEFB; //rgb(187,222,251)
$blue200: #90CAF9; //rgb(144,202,249)
$blue300: #64B5F6; //rgb(100,181,246)
$blue400: #42A5F5; //rgb(66,165,245)
$blue500: #03A9F4; //rgb(33,150,243)
$blue600: #039BE5; //rgb(30,136,229)
$blue700: #1976D2; //rgb(25,118,210)
$blue800: #0277BD; //rgb(21,101,192)
$blue900: #0D47A1; //rgb(13,71,161)

$indigo300: #7986CB; //rgb(121,134,203)
$indigo600: #3949AB; //rgb(57,73,171)
$indigo900: #1A237E; //rgb(26,35,126)

$lightblue100: #B2EBF2; //rgb(179,229,252)
$lightblue400: #29B6F6; //rgb(41,182,246)

$bluegrey100: #CFD8DC; //rgb(207,216,220)
$bluegrey300: #90A4AE; //rgb(144,164,174)
$bluegrey500: #607D8B; //rgb(96,125,139)
$bluegrey700: #455A64; //rgb(69,90,100)