/* Base Styles -------------------- */

@import "compass/typography/vertical_rhythm";

// Global Variables

$base-font-size: 18px !default;
$base-line-height: 24px;
@include establish-baseline($base-font-size);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $stack-roboto-cd;
}

img {
  max-width: 100%;
  border-radius: $br;
}

ul,
ol {
  margin: 30px 0;
}

li {
  margin-bottom: 10px;
}